main {
    background-image: url('../function 2/assets/indexBackground.png');

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    
}

