main {
    background-color: #edf1f5;
}

.active { 
    color: #1AAA55;
}
.failed {
    color:#d40000;
}
.pending {
    color: #6c757d
}

.mainAlgo {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


tbody {
    max-height: 300px;      
    overflow-y: auto;   
    overflow-x: hidden; 
}


.half {
    float: left;
    width: 50%;
}

.form-check-input {
    width: 3.5em !important;
    height: 1.4em !important;
}

.two-columns-grid {
    display: flex;
}

.two-columns-grid > * {
    padding: .5rem;
}

.half {
    flex: 1 0;
}

.hrSetting {
    margin: 0;
}

.vr {
    border-left: 1px solid #000;
    opacity: .25;
}



.btn-status {
    display: flex;
    background-color: white;
    color: black;
    padding-right: 7px;
    transition: all .3 ease;
    cursor: not-allowed !important;
}
.btn-direction {
    padding: 0; 
    width: 80px; 
    display: flex; 
    justify-content: space-evenly;
    padding: 0;
}
.status {
    display: flex;
    gap: 15px;
}
.status-title {
    font-weight: bold;
    margin-bottom: 2px;
}
.loading-group {
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 20px;
    height: 20px;
    border-top: 2px solid #6c757d; /* #6da9f5; #1F78D1; */
    border-right: 2px solid transparent;
    border-radius: 50%;
    margin: auto;
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    100% { transform: rotate(360deg) }
}
.checkmark {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}  


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
border: 2px solid #000000;
text-align: left;
padding: 8px;
}



tr:nth-child(even) {
background-color: #dddddd;
}